spring:
  config:
    activate:
      on-profile: dev

  devtools:
    add-properties: true

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:CineShow}?useUnicode=true&characterEncoding=UTF-8&createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASS:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jackson:
    time-zone: Asia/Ho_Chi_Minh
    date-format: yyyy-MM-dd HH:mm:ss

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: UTC


  #  datasource:
  #    url: jdbc:sqlserver://${DB_HOST:}:${DB_PORT:1433};databaseName=${DB_NAME:CineShow};encrypt=true;trustServerCertificate=true
  #    username: ${DB_USER:}
  #    password: ${DB_PASS:}
  #    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  #
  #  jpa:
  #    database-platform: org.hibernate.dialect.SQLServerDialect
  #    hibernate:
  #      ddl-auto: update
  #    show-sql: true
  #    properties:
  #      hibernate:
  #        format_sql: true
  #        dialect: org.hibernate.dialect.SQLServerDialect
  sendgrid:
    api-key: ${SENDGRID_API_KEY}
    from-email: "manhphongg6572@gmail.com"


admin: { email_default: "manhphong6572@gmail.com", password_default: "12345678" }

jwt:
  secret-key-access-token: "8mhZcWZVPhDeucdGaUQhUQoSkda34jAtkBPJNP54dvQ"
  secret-key-refresh-token: "Gu4jjMNk9oBnertRHqfRZJdHnz5jihbbnjAHeWNQbpg"
  expiration-access-token: 3600000  #1000 * 60 * 60 time exist
  expiration-refresh-token: 2592000000     #1000 * 60 * 60 * 24 *30

